.DS_Store
Thumbs.db
.tmp/
*.log
*.tmp
*.tmp.*
data/*
*.pyc
config.json
*.nfs*
*temp/*.txt
*temp/*.zip
*temp/*.out
*/temp/*.txt
*/temp/*.out
*/temp/*.zip
*/temp/*/*.txt
*/temp/*/*.out
*/temp/*/*.zip
temp/*/*.txt
temp/*/*.out
temp/*/*.zip
exec.sh
