{ 
	"SPARK_LOG_DIR": "/home/disk2/speed/tuliobraga/Downloads/tpcds-ignacio/%QUERY/%NODES_%CORES_%RAM_%DATA/",
	"COMPSS_LOG_DIR": "/home/disk2/speed/tuliobraga/Downloads/compss-daniele/%QUERY/%NODES_%CORES_%RAM_%DATA/"
}